body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

.logo {
    width: 50%;
    padding: 5px;
    margin: 7px auto;   
    text-align: center;
}
